body{
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: rgba(192, 192, 192, 0.445);
}
header {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    
    color: silver;
    text-align: center;
}


section {
    margin: 20px;
}
